#with {
  width: 100%;
}

ion-list {
  width: 95%;
  margin: auto;
  margin-top: 4rem;
  background-color: rgb(255, 255, 255);
}
body {
  color: white;
}

ion-item {
  color: black;
}

@media (max-width: 640px) {
  ion-list {
    margin: auto;
    margin-top: 5rem;
    width: 95%;
  }
}
@media (prefers-color-scheme: dark) {
  ion-list {
    background-color: black;
  }
  ion-select {
    ion-select-option {
      color: white;
    }
  }
}
