ion-card-subtitle {
  color: #000000a9;
}
ion-text {
  color: black;
}
ion-item-divider {
  color: white;
  margin-top: 0.5rem;
  background-color: #699734;
  box-shadow: 0px 0px 0.5rem black;
}
ion-card {
  box-shadow: 0px 0px 0.5rem black;
}
@media (max-width: 640px) {
  ion-card {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  ion-text {
    color: white;
  }
}
